@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Girl Scout Award Tracker</h1>
    <p class="lead">My Girl Scout Award Tracker is a way to manage your Bronze, Silver and Gold Award projects.</p>
    <p><a href="https://www.girlscouts.org/en/our-program/highest-awards.html" class="btn btn-primary btn-lg">Learn more about award requirements &raquo;</a></p>
</div>



<div class="row">

    <div class="col-md-4">
        <img src="../../Content/Assets/scout.png" alt="Girl scout" width="200": height="400" />
    </div>

    <div class="col-md-4">
        <h2>Start an idea</h2>
        <p>
            Start ideas here for a Bronze, Silver or Gold project.
        </p>
        <p><a class="btn btn-default btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start a Project </h2>
        <p>If you already have an idea ready, start managing your project here.</p>
        <p><a class="btn btn-default btn-lg" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>